@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  margin: 0 0 3rem;
  display: flex;
  align-items: center;
}

.game-info {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.btn {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  position: absolute;
  margin-left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: 0.5s;
}

.btn:hover {
  transform: translateY(-50%) scale(0.9);
}

.btn:active {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.restart-btn {
  display: none;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
  cursor: pointer;
}
